* {
    margin: 0px;
    padding: 0px;
   /*border: 1px solid #ff6f0f;*/
}
/*웹폰트 사용*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a,ul {
    text-decoration: none;
    color: black;
    list-style: none;
}

#header{
    width: 1280px;
    margin: 0px auto;
    
}
/*header1*/
#header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    font-size: 11px;
    font-family: 'Pretendard-Regular';
    margin-right:150px;
    width: 1280px;
    

   
}

#h1list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;

}
#h1list>li>a{
    padding-left: 15px;
    font-size: 18px;
}
#btn1 {
    background-color: #ffebdd;
    color: #ff6f0f;
    border:none;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
   
}
/*header2*/
#header2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0px auto;

}
#header2left{
    display:flex;
}

#btn2{/*부천시 소사구 버튼*/
    display:flex;
    border: #eeeeee 1px solid;
    padding-top: 8px;
    padding-left: 18px;
    border-radius: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    align-content: center;

}
#header2right{ /*검색창 보더*/
    border:1.5px solid #eeeeee;
    display: flex;
    flex-wrap: wrap;
    width:1140px;
    border-radius: 8px;
    margin-left: 15px;
    height: 40px;

}

#headerlist{ /*검색창 셀렉박스 문자*/
    border: none;
    background-color: none;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
   width: 120px;
    display: flex;
    text-align: center;
    justify-content:start;
    padding-left: 20px;
    padding-top: 13px;
    font-weight: bold;
    
}
#bar{ /*검색창 안 바*/
    color: #eeeeee;
    padding-top: 0px;
    padding-left:10px;
}
#bot{/*검색창 셀렉박스 화살표*/
    font-size: 9px;
    padding-top:2px;
    padding-left:5px;
    font-family: 'Pretendard-Regular';
}
#textbox{ /*검색창 안 텍스트박스*/
    border: none;
    width: 500px;
    padding-top:5px;
    margin-left: -40px;

}
#btn4{/*돋보기 버튼*/
    border: none;
    background-color: white;
    margin-left: 465px;
    margin-top: 8px;
}

#h3list{ /*인기검색어 전체 박스*/
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
}

#header2right2>h4{
    display: inline-block;
}

/*인기 검색어 리스트*/
#h3list>li>a{
    padding-left: 10px;
    font-size: 13px;
    color: grey
}

/*main img*/
#main_img{
    margin-top: 20px;
    height: 200px;
}