@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: Noto Sans KR;
    margin: 0px;
    padding: 0px;
    font-size:16px;
    border: 1px red solid;
}

#main1{
    width: 1200px; 
    margin: 0px auto;
}

/*main top (reservation)*/
#main_top1>h2 {
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 5px;
    color:#333333;
}
#main_top2{
    border:2px #81674e solid;
    border-radius: 5px;
    height: 0px;
    width: 50px;
    margin: 0px auto;
}

/*main_box left right*/


#main_box{
    display: flex;
    margin-top: 100px;
  
}
#main_box_left{
    display: flex;
    justify-content: center;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 770px;
    margin-right: 30px;
    height: 70px;

}
#main_box_right{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;

   
}


.box_number{
   
}
.box_number_btn{
    display: flex;
}
#box_number_choice{
    display: flex;
    justify-content: space-between;
    
}

/*캘린더*/

.main_box_left1 , .main_box_left2{
   
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 700px;
    height: 458px;
    
}
.main_box_left1>h6, .main_box_left2>h6{
    margin: 30px 10px;
    font-size: 25px;
}

.btn{
    border: none;
    color: #bdbdbd;
    background-color: white;
    font-size: 30px;
}
 .days{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    

}
.day{
    margin-right: 10px;
}
 #calenders{
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 770px;
    height: 458px;
 }




/*달력 날짜 표시 구역*/

.main_box_left1>div , .main_box_left2>div{
    width: 14%;/*부모요소의 가로사이즈 100%의 7등분*/
    height: 60px;
    border: 1px solid #eeeeee;
}
.main_box_left1 >.week, .main_box_left2>.week{
    height: 25px;
    text-align: center;
    background-color: rgb(255, 232, 236);;
}

/*main_box_right*/
.date_text{
font-size: 13px;
color: #666b7b;
margin-bottom: 8px;
}
.input_date{
    border: 1px solid #e0e0e0;
    background: #F7F9FB;
    width: 274px;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    color: #666;
    font-size: 13px;
    
    height: 22px;
    margin-bottom: 20px;
}
#box_number_choice{
    width: 340px;
    height: 45px;
    margin-bottom: 50px;
   
}
.box_number_btn{
    width: 77px;
    display: flex;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    color:#333333;
  

}
.box_number{
    height: 70px;
}
.number_con{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;

}
.qunti_btn{
    background: #F7F9FB;
    border: 1px solid #e0e0e0;
    width: 30px;
    text-align: center;
    color: #333;
    font-size: 10px;
    line-height: 42px;
    font-size:15px;
    font-weight:500;
}

/*main_list*/
#main_list{
    border-top: 1px solid #ededed;
    margin-top: 20px;
    
}
.main_list_detail{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #ededed;
  
  
}
.roomType{
    font-size: 18px;
    margin-bottom: 10px;
}
.roomSize, .bedType{
    font-size:12px;
    margin-bottom: 15px;

}
.roomPrice{
    font-size : 20px;
}
.roomNight{
    font-size:11px;
}
.acodian_btn{
    width: 150px;
    height: 50px;
    background-color: #81674e;
    color:white;
    border: none;

}
.roomImg{
    width: 260px;
    height: 150px;
}




/*time notice*/
#time_notice{
    
    background-color: #f8f9fb;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 92px;
    margin: 0px auto;
    margin-top: 50px;
}
.time_notice_con, .time_notice_symbol{
   color: #a2a4b2;
   margin: 30px;
}
.time_notice_con>span{
    color : #666666;
    font-size : 18px;
    margin: 10px;
}
/*resevation_btn*/
#resev_btn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
#resevation_btn{
    width: 250px;
    height: 50px;
    background-color: #81674e;
    color:white;
    border: none;
    border-radius: 10px;
}