@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: Noto Sans KR;
    margin: 0px;
    padding: 0px;
    font-size:16px;
}

#main1{
    width: 1200px; 
    margin: 0px auto;
}

/*main top (reservation)*/
#main_top1>h2 {
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 5px;
    color:#333333;
}
#main_top2{
    border:2px #81674e solid;
    border-radius: 5px;
    height: 0px;
    width: 50px;
    margin: 0px auto;
}


/*main_box right*/


#main_box{
    margin-top: 100px;
  
}
#main_box_right{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 20px;
    width: 1200px;
    padding:50px 0px;

}

.box_number_btn{
    display: flex;
    width: 300px;
  
}

/*main_box_right*/

.date_text{
font-size: 15px;
color: #666b7b;
margin-bottom: 8px;
margin-left: 90px;

}
.detail_text{
font-size: 15px;
color: #666b7b;
margin-bottom: 8px;
margin-left: 140px;

}

#input_date1, #input_date2,.input_date{
    border: 1px solid #e0e0e0;
    background: #F7F9FB;
    width: 1000px;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    color: #666;
    font-size: 15px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
#box_number_choice{
    display: flex;
    width: 600px;
    height: 100px;
    margin-bottom: 50px;
    margin: 0px auto;
   
}

.box_number_btn{
    width: 150px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    color:#333333;
    display: flex;
    justify-content: center;
    margin-left: 80px;


}
.box_number{
    height: 70px;
    width: 600px;
}
#number_con2,#number_con3{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100px;
    font-size: 20px;

}
.qunti_btn{
    background: #F7F9FB;
    border: 1px solid #e0e0e0;
    width: 80px;
    text-align: center;
    color: #333;
    font-size: 10px;
    line-height: 42px;
    font-size:15px;
    font-weight:500;
}

/*main_list*/
#main_list{
    border-top: 1px solid #ededed;
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    
}
#main_list_detail1,#main_list_detail2,#main_list_detail3,#main_list_detail4,#main_list_detail5
,#main_list_detail6,#main_list_detail7,#main_list_detail8,#main_list_detail9,#main_list_detail10
,#main_list_detail11,#main_list_detail12,#main_list_detail13,#main_list_detail14,#main_list_detail15{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #ededed;
    padding-bottom: 10px;
    margin-top: 5px;
   
  
}
#main_list_detail1:hover,#main_list_detail2:hover,#main_list_detail3:hover,#main_list_detail4:hover,#main_list_detail5:hover
,#main_list_detail6:hover,#main_list_detail7:hover,#main_list_detail8:hover,#main_list_detail9:hover,#main_list_detail10:hover
,#main_list_detail11:hover,#main_list_detail12:hover,#main_list_detail13:hover,#main_list_detail14:hover,#main_list_detail15:hover{
    box-shadow: 0px 0px 15px #81674e;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
   
}
.roomType{
    font-size: 18px;
    margin-bottom: 10px;
}
.roomSize, .bedType{
    font-size:12px;
    margin-bottom: 15px;

}
.roomPrice{
    font-size : 20px;
}
.roomNight{
    font-size:11px;
}
.acodian_btn1,.acodian_btn2,.acodian_btn3,.acodian_btn4,.acodian_btn5,
.acodian_btn6,.acodian_btn7,.acodian_btn8,.acodian_btn9,.acodian_btn10,.acodian_btn11
,.acodian_btn12,.acodian_btn13,.acodian_btn14,.acodian_btn15{
    width: 150px;
    height: 50px;
    background-color: #81674e;
    color:white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.roomImg{
    width: 260px;
    height: 150px;
    margin-top: 10px;
}

/*time notice*/
#time_notice{
    
    background-color: #f8f9fb;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 92px;
    margin: 0px auto;
    margin-top: 50px;
}
.time_notice_con, .time_notice_symbol{
   color: #a2a4b2;
   margin: 30px;
}
.time_notice_con>span{
    color : #666666;
    font-size : 18px;
    margin: 10px;
}
/*resevation_btn*/
#resev_btn{
    width: 1200px;
    display: flex;
    justify-content: end;
    margin: 0px auto;
    margin-top: 10px;


}

#resevation_btn{
    width: 250px;
    height: 50px;
    background-color: #81674e;
    color:white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
   
}
#check_roomcode{
    display: flex;
    justify-content: center;
    align-items: center;
}